{% extends "shop/base.html" %}

{% load crispy_forms_tags %}
{% block title %}Search{% endblock %}


{% block content %}



 

 <div class="container" style="margin-top:120px; margin-bottom:60px;">
  <div class="row">

    <div class="col-xl-12">
        <div class="card card-body bg-light">

                
         
                <h2>Product containing "{{ query }}"</h2>
                <h3>
                {% with products.count as total_results %}
                    Found {{ total_results }} result{{ total_results|pluralize }}
                {% endwith %}
                </h3>

            <div class="row mt-3">
             {% for product in products %}

            <div class="card ml-5" style="width: 19rem;">
                 <a href="{{ product.get_absolute_url }}">
                            <img src="{% if product.image %}{{ product.image.url }} {% else %}  http://localhost/external-css/img/no_image.png {% endif %}" class="card-img-top" alt="...">
                        </a>
                <div class="card-body my-product">
                    <h5 class="card-title text-center"><a href="{{ product.get_absolute_url }}" >{{ product.name }}</a></h5>
                    <p class="card-text text-center">${{ product.price }}</p>
                    <p class="text-center"><a href="{{ product.get_absolute_url }} " class="site-btn btn-line">SHOP NOW</a></p>
                </div>
            </div>
             {% empty %}
                <h5 class="ml-3">There are no results for your query.</h5>
            {% endfor %}
             </div>
           
                {% comment %} <h2 class="ml-2 mt-3"><a href="{% url "search" %}">Search again</a></h2> {% endcomment %}
            



									{% comment %} <tr>
										<td class="thumb"><a href="/product/{{ rs.id }}/{{ rs.slug }}">
                                            <img src="{{ rs.image.url }}" alt="" style="height: 100px">
                                        </a></td>

										<td class="details"> <a href="/product/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a>	</td>
                                        <td class="details"> <a href="/category/{{ rs.category_id }}/{{ rs.category.slug }}">{{ rs.category }}</a>	</td>
										<td class="price text-center"><strong>{{ rs.price}}</strong></td>
										<td class="qty text-center"><input class="input" type="number" value="1"></td>

										<td class="text-right"><a href="/order/addtoshopcart/{{ rs.id }}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart</a></td>
									</tr>
                                    {% endfor %}

								</tbody>

							</table>

						</div>

					</div>

						</div>
						<!-- /row -->
					</div> {% endcomment %}


   </div>
      </div>
  </div>

</div>   

{% endblock %}
