{% extends 'shop/base.html' %}

{% block title %}Store{% endblock %}
    

    
	
   
	


    {% block content%}

 <div class="container" style="margin-top:120px; margin-bottom:60px;">

    {% comment %} <div class="row">
      <div class="col-12">
        {% if messages %}
        {% for message in messages %}
          <div class="alert alert-{{ message.tags }}  alert-dismissible fade-show" role="alert">
            {{ message}}
            <button type="button" class="close" data-dismiss="alert">&times;</button>


  
    
        </div>
  {% endfor %}

{% endif %}
      </div>

      
    </div> {% endcomment %}
    
    
    <div class="row">
        <div class="col-12">

          
          <div class="jumbotron jumbotron-fluid bg-dark">
            <div class="container">
              <h2 style="text-align:center; color:white;">{% if category %}{{ category.name }}{% else %} COLLECTIONS {% endif %}</h2>
            </div>

          </div>

        </div>


    </div>


    <div class="row mt-4">
     
      <div class="col-xl-3">
          <h3>CATEGORIES</h3>
          <ul class="list-group mt-4 mb-3 my-links">
          
            <li class="list-group-item">
            <a href="{% url "mystore:product_list" %}">All</a>
         
            </li>
            {% for c in categories %}
            <li class="list-group-item">
                <a href="{{ c.get_absolute_url }}">
                {{ c.name }}
                </a>

            </li>
            {% endfor %}
            
          </ul>

      </div>

      <div class="col-xl-9 mt-5">

          

          <!-- <h3 class="text-center">{% if category %}{{ category.name }}{% else %} COLLECTIONS {% endif %}</h3> -->

          
           <div class="row">
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-xl-4 col-6 mt-3 my-product">
              <a href="{{ product.get_absolute_url }}">
                  <img src="{% if product.image %}{{ product.image.url }} {% else %}  http://localhost/external-css/img/no_image.png {% endif %}" class="card-img-top" alt="...">
              </a>   
                 <a href="{{ product.get_absolute_url }}">
                 <p class="text-center mt-3">{{ product.name }}</p>
                 </a>
                  <h3 class="text-center mt-2 mb-3">{{ product.price}}</h3>
                  <p class="text-center">
                  <a href="{{ product.get_absolute_url }} " class="site-btn btn-line hvr-float-shadow">SHOP NOW</a>
                  </p>
                  

            </div>
            {% endfor %}
            
            

          </div>
          
      </div>
    </div>
    {% comment %} <div class="row">

      <div class="col-5">

      </div>

      <div class="col-7 mt-5">
     
        {% include "pagination.html" with page=products %}
        
     
      </div>

    </div>
 {% endcomment %}

  </div>


  

                
         {% endblock  %}
