{% extends "shop/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Log-in{% endblock %}
{% block content %}



    <div class="row justify-content-center" style="margin-top:140px; margin-bottom:60px;">
      <div class="col-sm-6">
        <div class="card bg-light shadow-lg"> 
          <div class="card-body">
          	

              <h1>Log-in</h1>
              <hr>
              {% if form.errors %}
                <p>
                  Your username and password didn't match.
                  Please try again.
                </p>
              {% else %}
              <p>Please, use the following form to log-in. If you don't have an account <a href="#">register here</a></p>
              {% endif %}      
                 <form action="/account/login/" method="post" novalidate>
              

<div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField">
                Username or Email<span class="asteriskField">*</span> </label> <div class=""> <input type="text" name="username" autofocus autocapitalize="none" autocomplete="username" maxlength="150" class="textinput textInput form-control" required id="id_username"> </div> </div> <div id="div_id_password" class="form-group"> <label for="id_password" class=" requiredField">
                Password<span class="asteriskField">*</span> </label> <div class=""> <input type="password" name="password" autocomplete="current-password" class="textinput textInput form-control" required id="id_password"> </div> </div>

              {% csrf_token %}
              <input type="hidden" name="next" value="{{ next }}" />
              <p><input type="submit" class="btn btn-primary " value="Log-in"></p>
              </form>



              <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
{% comment %}              
                <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-danger">Login with Google</a>
                 <a href="{% url "social:begin" "twitter" %}" class="btn btn-primary">Login with Twitter</a>
             {% endcomment %}

          </div>
        </div>
      </div>

  
    </div>

 
{% endblock %}
