{% extends "shop/base.html" %}
{% load static %}
{% block title %}Password reset{% endblock %}
{% block content %}

<br>
<br>

<div class="container" style="margin-top:120px; margin-bottom:60px;">
<div class="row">
      <div class="col-12">
        <div class="card bg-light"> 
          <div class="card-body">
            <h1>Password set</h1>
            <hr>
            <p>Your password has been set. You can <a href="{% url "login" %}">log in now</a></p>

  </div>
        </div>
      </div>

  
    </div>  
  </div>     
{% endblock %}
