{% extends "shop/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Reset your password{% endblock %}
{% block content %}

<br>
<br>
<br>
    
    <div class="container" style="margin-top:120px; margin-bottom:60px;">
            <h2>Forgotten your password?</h2>
            <hr>
          
    <div class="row">
        <div class="col-6">
           <div class="card bg-light"> 
                <div class="card-body">
                    <p>Enter your e-mail address to obtain a new password.</p>
                    <form method="post">
                        {{ form|crispy }} 
                        <p><input type="submit"class="btn btn-success" value="Send e-mail"></p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>

  
    </div>
</div>
{% endblock %}
